table {
  width: 100%;
}

td,
tr {
  width: 30%;
  padding-left: 8rem !important; 
  font-size: 16px !important;
  font-weight: bold;
}

td:first-child, tr:first-child {
  padding-left: calc(24px + 8rem) !important; 
}

td:last-child,
tr:last-child {
  width: 40%;
  padding-left: 0 !important;
}

.radio-button {
  margin: 5px;
}

.mat-sort-header-button{
  margin-left: 8rem !important;
}

.positiveText {
  color: green;
}

.negativeText {
  color: red;
}

.mat-row:nth-child(odd){
  background-color: lightgray;
  }

@media only screen and (max-width: 768px) {
  td,
  tr {
    padding-left: 0 !important; 
    width: 33% !important;
  }

  td:first-child, tr:first-child {
    padding-left: 24px !important;  
  }

  .mat-sort-header-button{
    margin-left: 0px !important;
  }
}